.genre-content
  overflow-y: auto
  height: calc( 100vh - 75px )
  
  .movies
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    gap: 12px
    width: 95%
    margin: 50px auto

    .movie
      list-style: none
      cursor: pointer
      width: 200px
      height: 350px
      gap: 8px
      background: orange
      

      img
        width: 100%