<div *ngIf="movie" class="movie-details">
  <div class="mainInfo">
    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
    <div>
      <div class="titleGenres">
        <h2>{{ movie.title }}</h2>
        <p>
          <span *ngFor="let genre of movie.genres"> {{ genre.name }} |</span>
        </p>
      </div>
      <div class="basicInfo">
        <p><span>Duration:</span> {{ movie.runtime }} minutes</p>
        <p><span>Rating:</span> {{ movie.vote_average }} | {{ movie.vote_count }} votes</p>
      </div>
      <p class="overview">{{ movie.overview }}</p>
    </div>
  </div>

  <div class="technicalInfo">

    <div class="casting">
      <section>
        <h3>Cast</h3>
        <div class="carousel">
          <button class="prev" (click)="prevSlide('cast')">
            <img src="../../../assets/arrow-left-solid.svg" alt="left-arrow">
          </button>
          <div class="carousel-track-container">
            <ul class="carousel-track" #castTrack>
              <li *ngFor="let member of cast" class="carousel-slide">
                <img *ngIf="member.profile_path" [src]="'https://image.tmdb.org/t/p/w185' + member.profile_path" alt="{{ member.name }}">
                <p>{{ member.name }}</p>
                <span>as {{ member.character }}</span>
              </li>
            </ul>
          </div>
          <button class="next" (click)="nextSlide('cast')">
            <img src="../../../assets/arrow-right-solid.svg" alt="right-arrow">
          </button>
        </div>
      </section>

      <section>
        <h3>Crew</h3>
        <div class="carousel">
          <button class="prev" (click)="prevSlide('crew')">
            <img src="../../../assets/arrow-left-solid.svg" alt="left-arrow">
          </button>
          <div class="carousel-track-container">
            <ul class="carousel-track" #crewTrack>
              <li *ngFor="let member of crew" class="carousel-slide">
                <img *ngIf="member.profile_path" [src]="'https://image.tmdb.org/t/p/w185' + member.profile_path" alt="{{ member.name }}">
                <p>{{ member.name }}</p>
                <span>{{ member.job }}</span>
              </li>
            </ul>
          </div>
          <button class="next" (click)="nextSlide('crew')">
            <img src="../../../assets/arrow-right-solid.svg" alt="right-arrow">
          </button>
        </div>
      </section>
    </div>

    <div class="additionalInfo">
      <h3>Additional Information</h3>
      <p>
        Original Title: <br> 
        <span>{{ movie.original_title }}</span>
      </p>
      <p>
        Original Language: <br>
        <span>{{ movie.original_language }}</span>
      </p>
      <p>
        Budget: <br> 
        <span>{{ movie.budget | currency:'USD' }}</span>
      </p>
      <p>
        Revenue: <br>
        <span> {{ movie.revenue | currency:'USD' }} </span>
      </p>
      <p>
        Release Date: <br> 
        <span>{{ movie.release_date }}</span>
      </p>
      <p>
        Production Countries: <br>
        <span *ngFor="let country of movie.production_countries">{{ country.name }} </span>
      </p>
      <p>
        Production Companies: <br>
        <span *ngFor="let company of movie.production_companies">{{ company.name }} </span>
      </p>
    </div>
  </div>
</div>
