<div *ngIf="movie" class="movie-details">
  <h2>{{ movie.title }}</h2>
  <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
  <p><strong>Overview:</strong> {{ movie.overview }}</p>
  <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
  <p><strong>Rating:</strong> {{ movie.vote_average }}</p>
  <p><strong>Votes:</strong> {{ movie.vote_count }}</p>
  <p><strong>Genres:</strong>
    <span *ngFor="let genre of movie.genres">{{ genre.name }} </span>
  </p>
</div>
